<h1>Cadastro</h1>

<form action="/cadastro" method="POST">

    <input
        type="text"
        name="nome"
        placeholder="Nome"
    >

    <input
        type="email"
        name="email"
        placeholder="Email"
    >

    <input
        type="password"
        name="senha"
        placeholder="Senha"
    >

    <button>
        Cadastrar
    </button>

    <p>Já possui uma conta?</p>

<a href="/">Entrar</a>

</form>