<!DOCTYPE html>
<html>

<head>
    <title>AvaliaSom</title>
</head>

<body>

<h2>Olá, <%= usuario.nome %>!</h2>

<a href="/logout">
    Sair
</a>

<br><br>

<form action="/buscar" method="GET">

    <input
        type="text"
        name="q"
        placeholder="Pesquisar artista, álbum ou música"
    >

    <button>
        Buscar
    </button>

</form>

</body>

</html>