<h1>Login</h1>

<form action="/login" method="POST">

    <input
        type="email"
        name="email"
        placeholder="Email"
    >

    <input
        type="password"
        name="senha"
        placeholder="Senha"
    >

    <button>
        Entrar
    </button>

    <p>Ainda não possui uma conta?</p>

<a href="/cadastro">Cadastre-se</a>

</form>