/* perfil */

body{
    margin:0;
    font-family: "Poppins", sans-serif;
    background:#3c004b;
}

.container-avaliacoes{

    max-width:900px;
    margin:50px auto;
    padding:0 20px;

}

.card-avaliacao{

    background:rgba(255,255,255,.90);
    border-radius:20px;
    padding:25px;
    margin-bottom:25px;
    box-shadow:0 8px 20px rgba(0,0,0,.2);
    transition:.2s;

}

.card-avaliacao:hover{

    transform:translateY(-5px);

}

.card-avaliacao h3{

    color:#25002f;
    font-size:25px;
    margin-bottom:10px;

}

.tipo-avaliacao{

    display:inline-block;
    background:#8f39ff;
    color:white;
    padding:6px 15px;
    border-radius:20px;
    font-size:14px;
    font-weight:600;
    margin-bottom:18px;

}

.card-avaliacao p{

    font-size:18px;
    color:#444;
    margin:10px 0;

}

.card-avaliacao .data-avaliacao{

    color:#888;
    font-size:15px;
    margin-top:8px;
    margin-bottom:0;

}

.comentario{

    margin-top:18px;
    line-height:1.6;

}

.acoes{

    display:flex;
    gap:15px;
    margin-top:25px;

}

.btn-editar,
.btn-excluir{

    text-decoration:none;
    padding:10px 24px;
    border-radius:25px;
    color:white;
    font-weight:600;
    transition:.2s;

}

.btn-editar{

    background:#8f39ff;

}

.btn-editar:hover{

    background:#6d18da;

}

.btn-excluir{

    background:#d64545;

}

.btn-excluir:hover{

    background:#b52d2d;

}

.sem-avaliacoes{

    color:white;
    font-size:20px;
    text-align:center;
    margin-top:60px;

}

/* topo avaliacoes */

.topo-avaliacoes{
    max-width: 940px;
    margin: 40px auto 35px;
    padding: 0 20px;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.topo-avaliacoes h1{
    color: white;
    font-size: 38px;
    margin: 0;
}

.topo-avaliacoes h2{
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin: 8px 0 0;
    text-align: left;
}

.btn-voltar-avaliacoes{
    display: flex;
    transition: .2s;
}

.btn-voltar-avaliacoes img{
    width: 42px;
}

.btn-voltar-avaliacoes:hover{
    transform: scale(1.1);
}

