/* página das avaliações de um item */

body{
    margin:0;
    font-family: "Poppins", sans-serif;
    background:#3c004b;
}

/* menu */


header{
    background:#25002f;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:10px 50px;
}

.logo img{
    height:50px;
}

.pesquisa{
    margin:0;
}

.pesquisa input{
    width:450px;
    padding:12px 18px;
    border:none;
    border-radius:25px;
    outline:none;
    font-size:16px;
}

nav{
    display:flex;
    gap:25px;
}
nav a{
    color:white;
    text-decoration:none;
    font-weight:bold;
}
nav a:hover{
    color:#c77dff;
}
/* topo */

.container-item{
    max-width:1100px;
    margin:50px auto;
    padding:0 20px;
}

.topo-item{
    position:relative;

    display:flex;
    gap:40px;

    background:white;
    border-radius:25px;

    padding:35px;

    box-shadow:0 8px 25px rgba(0,0,0,.2);

    margin-bottom:50px;
}

.btn-voltar{

    position:absolute;
    right:25px;
    top:25px;

}

.btn-voltar img{

    width:42px;
    transition:.2s;

}

.btn-voltar:hover img{

    transform:scale(1.1);

}

.capa-item{

    width:260px;
    border-radius:18px;

}

.info-item{

    display:flex;
    flex-direction:column;
    justify-content:center;

}

.tipo-item{

    display:inline-block;
    width:max-content;

    background:#8f39ff;
    color:white;

    padding:6px 18px;

    border-radius:20px;

    font-weight:600;

}


.info-item h1{
    margin:8px 0;
    font-size:40px;
    color:#25002f;
}

.info-item h2{
    margin:5px 0;
    font-size:24px;
}

.info-item p{
    margin:4px 0;
    font-size:20px;
    color:#555;
}

.artista-item{

    font-size:20px;
    color:#555;

}

.media-item{

    margin-top:25px;

    font-size:40px;

}

.total-avaliacoes{

    font-size:12px;
    color:#666;

}

/* ---------- titulo ---------- */

.titulo-avaliacoes{

    color:white;

    font-size:25px;

    margin-bottom:25px;

}

/* ---------- lista ---------- */

.lista-avaliacoes{

    display:flex;
    flex-direction:column;
    gap:20px;

}

/* ---------- card ---------- */

.card-avaliacao-publica{

    background:white;

    border-radius:18px;

    padding:22px 25px;

    box-shadow:0 5px 15px rgba(0,0,0,.15);

}

.topo-card{

    display:flex;
    justify-content:space-between;
    align-items:center;

    margin-bottom:15px;

}

.nome-usuario{

    margin:0;

    color:#25002f;

    font-size:22px;

}

.nota-publica{

    font-size:20px;

    font-weight:bold;

    color:#f5c518;

}

.comentario-publico{

    font-size:18px;

    line-height:1.7;

    color:#444;

}

.comentario-vazio{

    color:#999;

    font-style:italic;

}

/* ---------- sem avaliações ---------- */

.sem-avaliacoes{

    text-align:center;

    color:white;

    font-size:22px;

    margin-top:60px;

}